@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&family=Open+Sans:wght@300;400;600&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}
:root{
    --green: #0d9979;
}
body{
    font-family: 'Open Sans', sans-serif;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 1.2rem 3rem;
    z-index: 999;
}
header .logo{
    color: var(--green);
    font-size: 3rem;
    text-decoration: none;
    font-weight: 600;
}
header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .navbar ul li{
    padding: 2rem 2.5rem;
    list-style-type: none;
}
header .navbar ul li a{
    text-decoration: none;
    color: #666;
    font-size: 16px;
    transition: 0.5s ease;
    font-weight: 600;
}
header .navbar ul li a:hover{
    color: #0d9979;
}
header .fa-bars{
    font-size: 3rem;
    cursor: pointer;
    color: #666;
    display: none;
}
.home{
    min-height:100vh ;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(images/leaves-background-with-metallic-foil_79603-914.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}
.home .content h1{
    color: #0d9979;
    font-size: 8rem;
}
.home .content p{
    color: #333;
    font-size: 1.9rem;
}
.btn{
    padding: 1rem 2rem;
    margin-top: 2rem;
    border: .2rem solid #0d9979;
    outline: none;
    color: #0d9979;
    letter-spacing: .5rem;
    text-align: center;
    transition: .5s ease;
    cursor: pointer;
    background-color: white;
}
.btn:hover{
    background-color: #0d9979;
    color: #fff;
}
.about .heading{
    text-align: center;
    font-size: 4rem;
    padding: 1rem;
    padding-top: 7rem;
}
.about .heading i{
    color: #0d9979;
}
.about .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about .row .image{
    flex:1 1 40rem;
    padding:2rem;
}
.row .image img{
    width: 100%;
}
.about .row .content{
    flex: 1 1 40rem;
    padding: 1.5rem;
} 
.about .row .content h3{
    color: #0d9979;
    font-size: 3rem;
}
.about .row .content p{
    color: #333;
    padding: 1rem 0;
    font-size: 1.5rem;
}
.about .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.about .container .box{
    flex: 1 1 20rem;
    padding: 2rem 1rem;
    border: .2rem solid #0d9979;
    text-align: center;
    margin: 1rem 2rem;
}
.about .container .box i{
    color: #0d9979;
    font-size: 3rem;
}
.about .container .box h3{
    color:#333;
    font-size: 2.5rem;
    padding:1rem 0;
}
.about .container .box p{
    color:#666;
    font-size: 1.7rem;
}
.service{
    background:#f0f0f0;
    min-height: 100vh;
}
.services .heading{
    text-align: center;
    font-size: 4rem;
    padding: 1rem;
    padding-top: 7rem;
}
.services .heading i{
    color: #0d9979;
}
.services .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}
.services .container .box{
    flex: 1 1 25rem;
    background-color: #fff;
    text-align: center;
    border: .2rem solid var(--green);
    margin: 2rem ;
    padding: 2rem 1rem;
    cursor: pointer;
}
.services .container .box i{
    color: var(--green);
    font-size: 3rem;
}
.services .container .box h3{
    color: #666;
    font-size: 2rem;
}
.services .container .box p{
    color: #333;
    font: 1.5rem;
}
.services .container .box a{
    color:#333;
    text-decoration: none;
    font-size: 1.2rem;
}

.services .container .box a:hover{
    color:var(--green);
}

.services .container .box:hover{
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
}
.projects{
    background-color: #333;
    min-height: 100vh;
}
.projects .heading{
    text-align: center;
    font-size: 4rem;
    padding: 1rem;
    padding-top: 7rem;
    color: #fff;
}
.projects .heading i{
    color: #0d9979;
}   
.projects .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
    width: 90%;
    margin:0 auto;
}

.projects .container .box{
    flex: 1 1 30rem;
    height: 22rem;
    box-shadow: 0 .3rem .5rem #000;
    overflow: hidden;
    /* position: relative; */
    margin:1rem;
}

.projects .container .box img{
    height:100%;
    width:100%;
    object-fit: cover;
}
.projects .container .box .icons{
    height:100%;
    width:100%;
    position: absolute;
    top:100%; left: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    background:linear-gradient(transparent, rgba(0,0,0,.7));
    transform: scale(0);
}

.projects .container .box:hover .icons{
    top:0;
    transform: scale(1);
}

.projects .container .box .icons a{
    font-size: 3rem;
    color:#fff;
    margin:3rem 0;
    text-shadow: 0 .3rem .5rem #000;
    transform: translateY(13rem);
    transition-delay: calc(.2s * var(--i));
}

.projects .container .box:hover .icons a{
    transform: translateY(0rem);
}
.donate{
    position: relative;
    z-index: -0;
    min-height: 100vh;
    padding-bottom: 3rem;
}
.donate .heading{
    text-align: center;
    font-size: 4rem;
    padding: 1rem;
    padding-top: 7rem;
    color: #333;
}
.donate .heading i{
    color: #0d9979;
}   

.donate .video-container video{
    position: absolute;
    top:0; left:0;
    height:100%;
    width:100%;
    object-fit: cover;
    z-index: -1;
}

.donate .form-container form{
    width:80%;
    margin:2rem auto;
    padding:2rem;
    background:rgba(255,255,255,.1);
    backdrop-filter: blur(.4rem);
    box-shadow: 0 .3rem .5rem #000;
    text-align: center;
    border-top: .1rem solid rgba(255,255,255,.3);
    border-left: .1rem solid rgba(255,255,255,.3);
}

.donate .form-container form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.donate .form-container form .inputBox input, select{
    height:4rem;
    width: 49%;
    background:#fff;
    color:#333;
    padding:0 1rem;
    margin:1rem 0;
    font-size: 1.7rem;
    outline: none;
    border:none;
}

.donate .form-container form textarea{
    height:20rem;
    width: 100%;
    background:#fff;
    color:#333;
    padding:1rem;
    margin:1rem 0;
    font-size: 1.7rem;
    outline: none;
    border:none;
    resize: none;
}

.donate .form-container form input[type="submit"]{
    color:#fff;
    border-color: #fff;
    background: none;
}

.donate .form-container form input[type="submit"]:hover{
    color:var(--green);
    border-color: var(--green);
    background:#fff;
}
.post{
    min-height: 100vh;
}
.post .heading{
    text-align: center;
    font-size: 4rem;
    padding: 1rem;
    padding-top: 7rem;
}
.post .heading i{
    color: #0d9979;
}
.post .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
}

.post .box-container .box{
    width: 35rem;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
    margin:2rem 1.5rem;
}

.post .box-container .box img{
    height: 23rem;
    width: 100%;
    object-fit: cover;
}

.post .box-container .box .content{
    padding:1rem;
}

.post .box-container .box .content span{
    font-size: 1.5rem;
    color:#666;
}

.post .box-container .box .content span i{
    padding:1rem 0;
    color:var(--green);
} 

.post .box-container .box .content h3{
    font-size: 2.4rem;
    color:#333;
}

.post .box-container .box .content:hover h3{
    text-decoration: underline;
    color:var(--green);
}

.post .box-container .box .content p{
    color:#666;
    font-size: 1.5rem;
}

.footer{
    background:#333;
}

.footer .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 95%;
    margin:0 auto;
}

.footer .box-container .box{
    margin:2rem;
    flex:1 1 25rem;
}

.footer .box-container .box .logo{
    font-size: 3rem;
    color:var(--green);
}

.footer .box-container .box p{
    font-size: 1.7rem;
    color:#ccc;
    padding:1rem 0;
}

.footer .box-container .box .share{
    text-align: center;
    font-size: 3rem;
    color:#fff;
}

.footer .box-container .box:nth-child(2) a{
    text-align: center;
    font-size: 1.7rem;
    color:#eee;
    display: block;
    padding:.5rem 0;
}

.footer .box-container .box:nth-child(2) a:hover{
    text-decoration: underline;
}

.footer .box-container .box .letter{
    font-size: 3rem;
    color:#fff;
}
.formMainDiv{
    display: flex;
    align-items: center;
}

.footer .box-container .box form input[type="email"]{
    padding:0 1rem;
    outline:none;
    border:.2rem solid var(--green);
    background:none;
    font-size: 1.7rem;
    color:#fff;
    height:4rem;
    width:74%;
}

.footer .box-container .box form button{
    outline:none;
    border:none;
    background:var(--green);
    font-size: 1.9rem;
    color:#fff;
    height:4rem;
    width:25%;
    cursor: pointer;
}

.footer .box-container .box form button:hover{
    color:var(--green);
    background:none;
    border:.1rem solid var(--green);
}

.footer .credit{
    text-align: center;
    color:#fff;
    font-size: 2rem;
    width:85%;
    margin:0 auto;
    padding:2rem 1rem;
    border-top: .1rem solid #ccc;
}

.footer .credit span{
    color:var(--green);
}
.mobileNavbar{
    display: none;
    cursor: pointer;
    background: transparent;
}
.mobileIcon{
    width: 4rem;
    height: 4rem;
    color: #000;
}
.mobileIcon[name='close-outline']{
    display: none;
}



/* media queries */
@media (max-width:768px) {
    html{
        font-size: 55%;
    }
    header .navbar{
        /* display: none; */
        position: fixed;
        top: 6rem;
        left: 0;
        width: 100%;
        opacity: 0;
        transition:all 0.5s ease;
        visibility: hidden;
        pointer-events: none;
        border-bottom: .1rem solid #333;
    }
    header .navbar ul{
        flex-flow: column;
        padding: 2rem 0;
        background-color: #fff;
        text-align: center;
    }
    header .navbar ul li{
        width: 100%;
        margin: 1rem 0;
    }
    header .navbar ul li a{
        font-size: 2rem;
        display: block;
        color: #333;
    }
    .mobileNavbar{
        display: block;
        z-index: 999;
    }
    .active .navbar{
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }   
    .active .mobileNavbar .mobileIcon.mobileIcon[name='close-outline']{
        display: block;
    }
    .active .mobileNavbar .mobileIcon.mobileIcon[name='menu-outline']{
        display: none;
    }
}   
@media (max-width:375px) {
    .home .content h1{
        font-size: 5rem;
    }
}